.fira-sans-font{
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-font{
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-font {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-font{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-font{
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-font{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-font{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-font {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-font {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
 
  
  



/* task-1 style */

.btn-full{
    background-color: #006A50;
    font-weight: 600;
    font-size: 18px;
    color: white;
    border: none;
    padding:17px 34px ;
    border-radius: 8px;
}
.banner-title{
    font-weight:500 ;
    font-style: normal;
    font-size:24px ;
    color: rgba(14, 14, 14, 0.5);
}
.banner-sub-title{
    font-weight:800 ;
    font-style:normal;
    font-size: 56px;
    color: rgba(14, 14, 14, 1);

}
.banner-pic{
    width: 475px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin:80px 100px 80px 100px;
    background-color:#C6E4D6;
    border-radius: 24px;
    padding:100px 80px 100px 80px;
    
}
.banner-content{
  max-width: 580px;
  
}
 
/* task-2 style */

 .box-content{
  display: flex;
  gap: 25px;
  
 }
 .skill-content{

  padding: 30px;
  border-radius: 16px;
  margin :24px 0px 24px 0px ;
 }
 .box-title{
  margin-right:160px;
  font-size:40px;
  font-weight:800;
  font-style: normal;
  color: rgba(14, 14, 14, 1);

 }
 .box-description{
  font-weight:  400;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);

 }

 .skill-title{
  font-size: 20px;
  font-weight: 800;
  color: rgba(14, 14, 14, 0.8);
 }
.btn-box{
  
    font-weight: 700;
    font-size: 16px;
    color: white;
    border: none;
    padding:11px 20px ;
    border-radius: 8px;
}
.button-1{
  background-color: rgba(84, 144, 245, 1);
}
.button-2{
  background-color: rgba(9, 161, 92, 1);
}
.button-3{
  background-color: rgba(255, 194, 57, 1);
}
 


 
 .skill-1{
  background-color: rgba(84, 144, 245, 0.2);
  

 }
 .skill-2{
  background-color: rgba(198, 228, 214, 1);
  
 }
  .skill-3{
    background-color: rgba(247, 235, 207, 1);
  
  }
  .bg-colour{
    background-color: rgba(245, 245, 245, 1);
  }

 /* news style */
 .news{
  display: flex;
  justify-content: space-between;
  margin: 24px 260px 24px 0px;
  background-color:rgba(255, 255, 255, 1);
  border-radius: 24px;
 }

 .news-title{
  font-weight:  800;
  font-size: 40px;
  color:rgba(14, 14, 14, 1) ;

 }
 .news-description{
  font-weight:  400;
  font-size: 16px;
  color:rgba(14, 14, 14, 0.7) ;
  
  
 }
 .news-title{
  font-weight:  800;
  font-size: 32px;
  color:rgba(14, 14, 14, 0.8);

 }
 .time{ font-weight:  400;
  font-size: 16px;
  color:rgba(14, 14, 14, 0.7) ;

 }
 .button{
   font-weight: 400;
    font-size: 18px;
    color: white;
    border: none;
    padding:13px 26px ;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
 }

 .img-k{
  border-radius: 24px;
  margin: 48px 48px 48px 48px;
 
 }
 .news-all{
  margin:56px 48px 56px 48px;
 }


 /* news style-2 */

 /* .news-2{
  
  display: flex;
  justify-content: space-between;
  margin: 0px 24px 260px 24px;
  background-color:rgba(255, 255, 255, 1);
  border-radius: 24px;
 } */


 /* subscrive-box */
 .Subscribe-box{
    text-align: center;
 }




 /* pera-box */

.pera-box{
  background-image:url('quote-bg.png');
  background-repeat: no-repeat;
}


/* donate-style */
.donate{
  text-align: center;
}
.donate-ammount{
  display: flex;
}




