.fira-sans-font{
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-font{
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-font {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-font{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-font{
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-font{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-font{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-font {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-font {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
 
  
  





.btn-full{
    background-color: #006A50;
    font-weight: 600;
    font-size: 18px;
    color: white;
    border: none;
    padding:17px 34px ;
    border-radius: 8px;
}
.banner-title{
    font-weight:500 ;
    font-style: normal;
    font-size:24px ;
    color: rgba(14, 14, 14, 0.5);
}
.banner-sub-title{
    font-weight:800 ;
    font-style:normal;
    font-size: 56px;
    color: rgba(14, 14, 14, 1);
}
.banner-pic{
    width: 475px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin:80px 100px 80px 100px;
    background-color:#C6E4D6;
    border-radius: 24px;
    padding:100px 80px 100px 80px;
    
}
.banner-content{
  max-width: 580px;
  
}
 
